/build
camera.xml
data/sky_15.bin
run/shaders.lnk
run/rendercore_vulkan_rt.pdb
run/rendercore_vulkan_rt.lib
run/rendercore_vulkan_rt.ilk
run/rendercore_vulkan_rt.exp
run/rendercore_vulkan_rt.dll
run/rendercore_minimal.pdb
run/rendercore_minimal.lib
run/rendercore_minimal.ilk
run/rendercore_minimal.exp
run/rendercore_minimal.dll
run/RenderCore_SoftRasterizer.pdb
run/RenderCore_SoftRasterizer.lib
run/RenderCore_SoftRasterizer.ilk
run/RenderCore_SoftRasterizer.exp
run/RenderCore_SoftRasterizer.dll
run/rendercore_hardcore.pdb
run/rendercore_hardcore.lib
run/rendercore_hardcore.ilk
run/rendercore_hardcore.exp
run/rendercore_hardcore.dll
run/our_app.pdb
run/our_app.lib
run/our_app.ilk
run/our_app.exp
run/our_app.exe
run/imguiapp.pdb
run/imguiapp.lib
run/imguiapp.ilk
run/imguiapp.exp
run/imguiapp.exe
run/data.lnk
lib/RenderSystem/x64/Debug/tinyxml2.obj
lib/RenderSystem/x64/Debug/rendersystem.tlog/rendersystem.lastbuildstate
lib/RenderSystem/x64/Debug/rendersystem.tlog/Lib.command.1.tlog
lib/RenderSystem/x64/Debug/rendersystem.tlog/Lib-link.read.1.tlog
lib/RenderSystem/x64/Debug/rendersystem.tlog/CL.write.1.tlog
lib/RenderSystem/x64/Debug/rendersystem.tlog/CL.read.1.tlog
lib/RenderSystem/x64/Debug/rendersystem.tlog/CL.command.1.tlog
lib/RenderSystem/x64/Debug/rendersystem.pdb
lib/RenderSystem/x64/Debug/rendersystem.pch
lib/RenderSystem/x64/Debug/rendersystem.obj
lib/RenderSystem/x64/Debug/rendersystem.log
lib/RenderSystem/x64/Debug/render_api.obj
lib/RenderSystem/x64/Debug/host_texture.obj
lib/RenderSystem/x64/Debug/host_mesh.obj
lib/RenderSystem/x64/Debug/host_material.obj
lib/RenderSystem/x64/Debug/host_light.obj
lib/RenderSystem/x64/Debug/host_anim.obj
lib/RenderSystem/x64/Debug/core_api_base.obj
lib/RenderSystem/x64/Debug/camera.obj
lib/RenderSystem/lib/Debug/rendersystem.pdb
lib/RenderSystem/lib/Debug/rendersystem.lib
lib/RenderSystem/x64/Debug/host_skydome.obj
lib/RenderSystem/x64/Debug/host_scene.obj
lib/RenderSystem/x64/Debug/host_node.obj
lib/RenderSystem/x64/Debug/host_mesh_tinyobj.obj
lib/RenderSystem/x64/Debug/rendersystem.tlog/Lib-link.write.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/rendercore_vulkan_rt.log
lib/RenderCore_Vulkan_RT/x64/Debug/rendercore.obj
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/rendercore_vulkan_rt.write.1u.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/rendercore_vulkan_rt.lastbuildstate
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/link.command.1.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/CL.write.1.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/CL.read.1.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/CL.command.1.tlog
lib/RenderCore_HardCore/x64/Debug/core_api.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_shader_binding_table_generator.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_shader.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_ray_trace_nv_pipeline.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_image.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_gl_texture_interop.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_device.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_descriptor_set.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_compute_pipeline.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vc141.pdb
lib/RenderCore_Vulkan_RT/x64/Debug/uniform_objects.obj
lib/RenderCore_Vulkan_RT/x64/Debug/top_level_as.obj
lib/RenderCore_Vulkan_RT/x64/Debug/rendercore_vulkan_rt.pch
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/CL.write.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/CL.read.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/CL.command.1.tlog
lib/RenderCore_Minimal/x64/Debug/core_api.obj
lib/RenderCore_HardCore/x64/Debug/vc141.pdb
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/CL.write.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/CL.read.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/CL.command.1.tlog
lib/RenderCore_Minimal/x64/Debug/vc141.pdb
lib/RenderCore_Vulkan_RT/x64/Debug/bottom_level_as.obj
lib/RenderCore_SoftRasterizer/x64/Debug/vc141.pdb
lib/RenderCore_SoftRasterizer/x64/Debug/rendercore_softrasterizer.log
lib/RenderCore_SoftRasterizer/x64/Debug/rendercore.obj
lib/RenderCore_SoftRasterizer/x64/Debug/rasterizer.obj
lib/RenderCore_SoftRasterizer/x64/Debug/core_api.obj
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCore_SoftRasterizer.pch
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/link.write.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/link.read.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/link.command.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/RenderCore_SoftRasterizer.write.1u.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/RenderCore_SoftRasterizer.lastbuildstate
lib/RenderCore_Minimal/x64/Debug/rendercore_minimal.pch
lib/RenderCore_Minimal/x64/Debug/rendercore_minimal.log
lib/RenderCore_Minimal/x64/Debug/rendercore.obj
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/rendercore_minimal.write.1u.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/rendercore_minimal.lastbuildstate
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/link.write.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/link.read.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/link.command.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/link.write.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/link.read.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/link.command.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/CL.write.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/CL.read.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/CL.command.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/core_mesh.obj
lib/RenderCore_Vulkan_RT/x64/Debug/core_api.obj
lib/RenderCore_HardCore/x64/Debug/rendercore_hardcore.pch
lib/RenderCore_HardCore/x64/Debug/rendercore_hardcore.log
lib/RenderCore_HardCore/x64/Debug/rendercore.obj
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/rendercore_hardcore.write.1u.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/rendercore_hardcore.lastbuildstate
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/link.write.1.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/link.read.1.tlog
lib/platform/x64/Debug/platform.pch
lib/platform/x64/Debug/platform.obj
lib/platform/x64/Debug/platform.tlog/Lib-link.write.1.tlog
lib/platform/x64/Debug/platform.tlog/Lib-link.read.1.tlog
lib/platform/x64/Debug/platform.tlog/CL.write.1.tlog
lib/platform/x64/Debug/platform.tlog/CL.read.1.tlog
lib/platform/x64/Debug/platform.tlog/CL.command.1.tlog
lib/platform/x64/Debug/platform.pdb
lib/platform/x64/Debug/system.obj
lib/platform/x64/Debug/platform.tlog/platform.lastbuildstate
lib/platform/x64/Debug/platform.tlog/Lib.command.1.tlog
lib/platform/x64/Debug/platform.log
lib/platform/lib/Debug/platform.pdb
lib/platform/lib/Debug/platform.lib
apps/our_app/x64/Debug/our_app.tlog/our_app.write.1u.tlog
apps/our_app/x64/Debug/our_app.tlog/our_app.lastbuildstate
apps/our_app/x64/Debug/our_app.tlog/link.write.1.tlog
apps/imguiapp/x64/Debug/main.obj
apps/imguiapp/x64/Debug/imguiapp.tlog/link.write.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/link.read.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/link.command.1.tlog
apps/our_app/x64/Debug/imgui.obj
apps/our_app/our_app.vcxproj.user
apps/our_app/our_app.vcxproj.filters
apps/our_app/our_app.vcxproj
apps/imguiapp/x64/Debug/vc141.pdb
apps/imguiapp/x64/Debug/imguiapp.log
apps/imguiapp/x64/Debug/imgui_widgets.obj
apps/imguiapp/x64/Debug/imgui.obj
apps/imguiapp/x64/Debug/imguiapp.tlog/imguiapp.lastbuildstate
apps/imguiapp/x64/Debug/imguiapp.tlog/CL.write.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/CL.read.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/CL.command.1.tlog
apps/our_app/x64/Debug/vc141.pdb
apps/our_app/x64/Debug/main.obj
apps/our_app/x64/Debug/imgui_widgets.obj
apps/our_app/x64/Debug/imgui_impl_opengl3.obj
apps/imguiapp/x64/Debug/imgui_impl_opengl3.obj
apps/imguiapp/x64/Debug/imgui_impl_glfw.obj
apps/imguiapp/x64/Debug/imgui_draw.obj
apps/our_app/x64/Debug/our_app.tlog/CL.write.1.tlog
apps/our_app/x64/Debug/our_app.tlog/CL.read.1.tlog
apps/our_app/x64/Debug/our_app.tlog/CL.command.1.tlog
apps/our_app/x64/Debug/our_app.pch
apps/our_app/x64/Debug/imgui_impl_glfw.obj
apps/our_app/x64/Debug/imgui_draw.obj
apps/imguiapp/x64/Debug/imguiapp.pch
apps/our_app/x64/Debug/our_app.tlog/link.read.1.tlog
apps/our_app/x64/Debug/our_app.tlog/link.command.1.tlog
apps/our_app/x64/Debug/our_app.log
apps/imguiapp/x64/Debug/imguiapp.tlog/imguiapp.write.1u.tlog
.vs/LightHouse2/v15/ipch/AutoPCH/e7aaa8e7d0b2bce/MAIN.ipch
.vs/LightHouse2/v15/ipch/AutoPCH/8a1bf9f6a7a6964e/MAIN.ipch
.vs/LightHouse2/v15/ipch/bfcfa9a57013dd62.ipch
.vs/LightHouse2/v15/ipch/b2e042ea52ae7f3d.ipch
.vs/LightHouse2/v15/ipch/AutoPCH/8235984097728e73/MAIN.ipch
.vs/LightHouse2/v15/ipch/56dfd7599faf92f6.ipch
.vs/LightHouse2/v15/ipch/559387bd32e13aa2.ipch
.vs/LightHouse2/v15/ipch/97e27dc6b3bd138a.ipch
.vs/LightHouse2/v15/ipch/311818dcabcaf966.ipch
.vs/LightHouse2/v15/Solution.VC.db-shm
.vs/LightHouse2/v15/Browse.VC.opendb
.vs/LightHouse2/v15/Solution.VC.db-wal
.vs/LightHouse2/v15/Browse.VC.db
.vs/LightHouse2/v15/Solution.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/LightHouse2/v15/.suo
.vs/ProjectSettings.json
.vs/LightHouse2/v15/ipch/AutoPCH/b9a6d2cbb6dfd33b/RAY.ipch
lib/RenderCore_HardCore/x64/Debug/ray.obj
