/build
camera.xml
data/sky_15.bin
run/
lib/RenderSystem/x64/Debug/
lib/RenderCore_Vulkan_RT/x64/Debug/
lib/RenderCore_HardCore/x64/Debug/
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_shader_binding_table_generator.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_shader.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_ray_trace_nv_pipeline.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_image.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_gl_texture_interop.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_device.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_descriptor_set.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vulkan_compute_pipeline.obj
lib/RenderCore_Vulkan_RT/x64/Debug/vc141.pdb
lib/RenderCore_Vulkan_RT/x64/Debug/uniform_objects.obj
lib/RenderCore_Vulkan_RT/x64/Debug/top_level_as.obj
lib/RenderCore_Vulkan_RT/x64/Debug/rendercore_vulkan_rt.pch
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/CL.write.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/CL.read.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/CL.command.1.tlog
lib/RenderCore_Minimal/x64/Debug/core_api.obj
lib/RenderCore_HardCore/x64/Debug/vc141.pdb
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/CL.write.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/CL.read.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/CL.command.1.tlog
lib/RenderCore_Minimal/x64/Debug/vc141.pdb
lib/RenderCore_Vulkan_RT/x64/Debug/bottom_level_as.obj
lib/RenderCore_SoftRasterizer/x64/Debug/vc141.pdb
lib/RenderCore_SoftRasterizer/x64/Debug/rendercore_softrasterizer.log
lib/RenderCore_SoftRasterizer/x64/Debug/rendercore.obj
lib/RenderCore_SoftRasterizer/x64/Debug/rasterizer.obj
lib/RenderCore_SoftRasterizer/x64/Debug/core_api.obj
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCore_SoftRasterizer.pch
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/link.write.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/link.read.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/link.command.1.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/RenderCore_SoftRasterizer.write.1u.tlog
lib/RenderCore_SoftRasterizer/x64/Debug/RenderCo.07247B19.tlog/RenderCore_SoftRasterizer.lastbuildstate
lib/RenderCore_Minimal/x64/Debug/rendercore_minimal.pch
lib/RenderCore_Minimal/x64/Debug/rendercore_minimal.log
lib/RenderCore_Minimal/x64/Debug/rendercore.obj
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/rendercore_minimal.write.1u.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/rendercore_minimal.lastbuildstate
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/link.write.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/link.read.1.tlog
lib/RenderCore_Minimal/x64/Debug/renderco.4B7E4407.tlog/link.command.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/link.write.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/link.read.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/link.command.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/CL.write.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/CL.read.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/renderco.0FA8FEF9.tlog/CL.command.1.tlog
lib/RenderCore_Vulkan_RT/x64/Debug/core_mesh.obj
lib/RenderCore_Vulkan_RT/x64/Debug/core_api.obj
lib/RenderCore_HardCore/x64/Debug/rendercore_hardcore.pch
lib/RenderCore_HardCore/x64/Debug/rendercore_hardcore.log
lib/RenderCore_HardCore/x64/Debug/rendercore.obj
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/rendercore_hardcore.write.1u.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/rendercore_hardcore.lastbuildstate
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/link.write.1.tlog
lib/RenderCore_HardCore/x64/Debug/renderco.35DF9427.tlog/link.read.1.tlog
lib/platform/x64/Debug/platform.pch
lib/platform/x64/Debug/platform.obj
lib/platform/x64/Debug/platform.tlog/Lib-link.write.1.tlog
lib/platform/x64/Debug/platform.tlog/Lib-link.read.1.tlog
lib/platform/x64/Debug/platform.tlog/CL.write.1.tlog
lib/platform/x64/Debug/platform.tlog/CL.read.1.tlog
lib/platform/x64/Debug/platform.tlog/CL.command.1.tlog
lib/platform/x64/Debug/platform.pdb
lib/platform/x64/Debug/system.obj
lib/platform/x64/Debug/platform.tlog/platform.lastbuildstate
lib/platform/x64/Debug/platform.tlog/Lib.command.1.tlog
lib/platform/x64/Debug/platform.log
lib/platform/lib/Debug/platform.pdb
lib/platform/lib/Debug/platform.lib
apps/our_app/x64/Debug/our_app.tlog/our_app.write.1u.tlog
apps/our_app/x64/Debug/our_app.tlog/our_app.lastbuildstate
apps/our_app/x64/Debug/our_app.tlog/link.write.1.tlog
apps/imguiapp/x64/Debug/main.obj
apps/imguiapp/x64/Debug/imguiapp.tlog/link.write.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/link.read.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/link.command.1.tlog
apps/our_app/x64/Debug/imgui.obj
apps/imguiapp/x64/Debug/vc141.pdb
apps/imguiapp/x64/Debug/imguiapp.log
apps/imguiapp/x64/Debug/imgui_widgets.obj
apps/imguiapp/x64/Debug/imgui.obj
apps/imguiapp/x64/Debug/imguiapp.tlog/imguiapp.lastbuildstate
apps/imguiapp/x64/Debug/imguiapp.tlog/CL.write.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/CL.read.1.tlog
apps/imguiapp/x64/Debug/imguiapp.tlog/CL.command.1.tlog
apps/our_app/x64/Debug/vc141.pdb
apps/our_app/x64/Debug/main.obj
apps/our_app/x64/Debug/imgui_widgets.obj
apps/our_app/x64/Debug/imgui_impl_opengl3.obj
apps/imguiapp/x64/Debug/imgui_impl_opengl3.obj
apps/imguiapp/x64/Debug/imgui_impl_glfw.obj
apps/imguiapp/x64/Debug/imgui_draw.obj
apps/our_app/x64/Debug/our_app.tlog/CL.write.1.tlog
apps/our_app/x64/Debug/our_app.tlog/CL.read.1.tlog
apps/our_app/x64/Debug/our_app.tlog/CL.command.1.tlog
apps/our_app/x64/Debug/our_app.pch
apps/our_app/x64/Debug/imgui_impl_glfw.obj
apps/our_app/x64/Debug/imgui_draw.obj
apps/imguiapp/x64/Debug/imguiapp.pch
apps/our_app/x64/Debug/our_app.tlog/link.read.1.tlog
apps/our_app/x64/Debug/our_app.tlog/link.command.1.tlog
apps/our_app/x64/Debug/our_app.log
apps/imguiapp/x64/Debug/imguiapp.tlog/imguiapp.write.1u.tlog
lib/RenderCore_HardCore/x64/Debug/ray.obj
.vs/
lib/RenderSystem/lib/Debug/
/x64/
lib/RenderCore_Minimal/x64/
lib/platform/x64/Release/system.obj
lib/RenderCore_HardCore/x64/Release/rendercore_hardcore.log
lib/RenderCore_SoftRasterizer/x64/Release/RenderCo.07247B19.tlog/CL.read.1.tlog
lib/RenderCore_SoftRasterizer/x64/
lib/RenderCore_HardCore/x64/
lib/RenderCore_Vulkan_RT/x64/
apps/our_app/x64/
lib/RenderSystem/x64/
lib/platform/x64/
lib/platform/lib/Release/platform.lib
lib/RenderSystem/lib/Release/
